<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>

<h2>Clientes</h2>

<a href="/clientes/novo">Novo Cliente</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>CPF</th>
        <th>Ações</th>
    </tr>

    <tr th:each="c : ${clientes}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nome}"></td>
        <td th:text="${c.email}"></td>
        <td th:text="${c.cpf}"></td>
        <td>
            <a th:href="@{/clientes/editar/{id}(id=${c.id})}">Editar</a>
            <a th:href="@{/clientes/excluir/{id}(id=${c.id})}">Excluir</a>
        </td>
    </tr>
</table>

</body>
</html>
